* {
    padding: 0;
    margin: 0;
    color: #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

*:focus {
    outline: none;
}

body {
    background: rgb(6, 10, 16);
}

div {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

ul,
li {
    display: block;
}

.menu li {
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: lighter;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

.header {
    z-index: 20;
    position: fixed;
    top: 0;
    padding: 0px 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 5, 10, 0.8);
    border-bottom: 1px solid #5e5e5e;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__menu {
    font-size: 32px;
}

.top__logo {
    font-family: 'Long Cang', cursive;
    text-shadow: -1px -1px 5px rgba(0, 250, 250, 0.5);
    font-size: 52px;
}

.top__account {
    width: 42px;
    height: 42px;
    border: 2px rgba(0, 250, 250, 0.4) inset;
    border-radius: 50%;
    background: url("../images/will_smith.jpg") #fff center;
    background-size: contain;
    background-origin: border-box;
    transition-delay: 50ms;
    transition: 0.5s;
}

.top__account:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 250, 250, 0.7);
    border-color: rgba(0, 250, 250, 0.7);
}

.menu {
    z-index: 10;
    position: fixed;
    background: transparent;
    height: 100%;
    padding: 60px 0px 100px 0px;
    width: 200px;
}

.menu__container {
    margin: 60px 0px, 100px, 0px;
    padding: 14px;
    border: 1px solid #5e5e5e;
    border-left: none;
    height: 100%;
    background: rgba(0, 5, 10, 0.96);
}

.shell-search {
    max-width: 225px;
    height: max-content;
    box-sizing: border-box;
    border-radius: 10px;
}

.search {
    position: relative;
}

.field-search {
    width: 100%;
    height: 32px;
    color: rgb(0, 100, 100);
    font-size: 18px;
    padding-left: 5px;
    padding-right: 24px;
    border-radius: 10px;
    border: 1px solid #26c2c7;
}

.button-search {
    height: 32px;
    width: 32px;
    border: none;
    position: absolute;
    right: 0px;
    background: none;
}

.button-search::before {
    content: "\f002";
    font-family: FontAwesome;
    color: red;
}

.container-info {
    padding: 10px 20px;
}

.menu__top {
    height: 5em;
    border-bottom: 1px solid #5e5e5e;
}

.content {
    padding-top: 75px;
    min-height: 768px;
    background: transparent;
}

.hidden {
    visibility: hidden;
}

.bottom-border {
    border-bottom: 1px solid #5e5e5e;
}

.menu_sort_search {
    font-family: 'Long Cang', cursive;
    font-style: italic;
}

.menu_sort_search span {
    margin-right: 20px;
}

.effect-shadow:hover {
    transition-duration: 0.5s;
    color: rgb(0, 255, 255);
    text-shadow: 1px 0px 10px rgba(0, 225, 225, 0.6);
}

.category_container {
    padding-top: 20px;
}

.line {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #5e5e5e;
    width: inherit;
    height: 0px;
}

.other_button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    box-shadow: 0px -1px white;
    border: none;
    border-radius: 10px;
}

.search_film_image {
    background-color: red;
    border-color: white;
    padding: 1px;
    width: 8em;
    height: 12em;
}

.search_film_info {
    padding: 20px;
    width: auto;
}

.search_film_preview {
    /* justify-content: center; */
    width: 8em;
    text-align: center;
}

.video_player_container {
    width: 100%;
    height: 550px;
    border: 1px white solid;
    justify-content: center;
}

.video_player {
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px red solid;
}

.text_container {
    padding-top: 10px;
}

.image_info {
    background: #ffffff url("../images/photo.PNG");
    background-repeat: space;
    width: 8em;
    height: 12em;
    float: left;
    margin-right: 10px;
}