body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(6, 10, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
}

.container {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffa200
}

.container .field {
    position: relative;
    margin: 20px;
}