*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 30px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #ffa200; */
    border: 1px solid #26c2c7;
}

.container:hover {
    transition-duration: 0.5s;
    box-shadow: 1px 0px 10px 5px rgba(0, 225, 225, 0.6);
}

.container .field_content {
    position: relative;
    margin: 20px;
    border-bottom: 1px solid #26c2c7;
}

.container .field_button {
    position: relative;
    margin: 10px;
    padding: 10px;
}

.login,
.password,
.date {
    display: inline;
    background: transparent;
    border: none;
    color: #ccc;
}

.submit_button {
    width: 240px;
    height: 40px;
    background: transparent;
    border: 1px solid #26c2c7;
    text-align: center;
    color: #26c2c7;
    border-radius: 10px;
    font-weight: 600;
}

.submit_button:hover {
    transition-duration: 0.5s;
    background-color: #26c2c7;
    color: black;
    border-color: black;
    box-shadow: 1px 0px 10px 5px rgba(0, 225, 225, 0.6);
}

.image_login_password {
    color: #26c2c7;
    padding-right: 10px;
    padding-bottom: 10px;
}

.header_name {
    color: white;
    padding-left: 20px;
    font-size: 18px;
}

.register_button {
    padding-right: 20px;
    text-decoration: none;
    color: #ccc;
    font-weight: 200;
    font-size: 14px;
    text-decoration: underline;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    visibility: hidden;
    display: none;
}

.effect-shadow:hover {
    transition-duration: 0.5s;
    color: rgb(0, 255, 255);
    text-shadow: 0px 0px 5px rgba(0, 225, 225, 1);
}