:root {
    --main-shadow: #26c2c7;
    --main-background: #000000;
    --second-background: rgba(10, 10, 10, 0.95);
    --page-second-color: #26c2c7;
    --height-top: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    *:focus {
        outline: none;
    }

body {
    background: var(--main-background);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ddd;
    height: auto;
}

div {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

ul,
li {
    display: block;
}

.menu li {
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: lighter;
}

.container {
    max-width: 1270px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.header {
    z-index: 20;
    position: fixed;
    top: 0;
    padding: 0px 0;
    width: 100%;
    height: var(--height-top);
    background: var(--second-background);
    border-bottom: 1px solid var(--page-second-color);
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__menu {
    font-size: 32px;
}

.fa.fa-bars {
    text-shadow: -1px -1px 5px var(--page-second-color);
}

.top__logo {
    font-family: 'Long Cang', cursive;
    text-shadow: -1px -1px 5px var(--main-shadow);
    font-size: 52px;
}


/* .details_top_account {
    opacity: 100%;
} */

.top__account {
    width: 42px;
    height: 42px;
    border: 2px var(--main-shadow) inset;
    border-radius: 50%;
    background: url("../images/will_smith.jpg") #fff center;
    background-size: contain;
    background-origin: border-box;
    transition-delay: 50ms;
    transition: 0.5s;
}

    .top__account:hover {
        box-shadow: 0px 0px 10px 2px var(--main-shadow);
        border-color: var(--main-shadow);
    }

.menu {
    z-index: 10;
    position: fixed;
    top: var(--height-top);
    background: transparent;
    height: 100%;
    width: 200px;
}

.menu__container {
    padding: 14px;
    border: 1px solid #5e5e5e;
    border-left: none;
    height: 100%;
    background: var(--main-background);
}

.account_options {
    z-index: 10;
    position: fixed;
    top: var(--height-top);
    right: 1em;
    background: transparent;
    height: auto;
    width: auto;
}

.account_options_container {
    border: 1px solid #5e5e5e;
    padding: 1em;
    background: var(--main-background);
    font-weight: 100;
}

.up_line {
    margin-top: 0.5em;
    border-top: 1px solid #5e5e5e;
}

.shell-search {
    max-width: 225px;
    height: max-content;
    box-sizing: border-box;
    border-radius: 10px;
}

.search {
    position: relative;
}

.field-search {
    width: 100%;
    height: 32px;
    color: rgb(0, 100, 100);
    font-size: 18px;
    padding-left: 5px;
    padding-right: 24px;
    border-radius: 10px;
    border: 1px solid var(--main-shadow);
}

.button-search {
    height: 32px;
    width: 32px;
    border: none;
    position: absolute;
    right: 0px;
    background: none;
}

    .button-search::before {
        content: "\f002";
        font-family: FontAwesome;
        color: red;
    }

.container-info {
    padding: 10px 20px;
}

.menu__top {
    height: 5em;
    border-bottom: 1px solid #5e5e5e;
}

.content {
    display: block;
    padding-top: 75px;
    min-height: 768px;
    height: auto;
    background: transparent;
}

.hidden {
    visibility: hidden;
    display: none;
}

.bottom-border {
    border-bottom: 1px solid #5e5e5e;
}

.menu_sort_search {
    /* font-family: 'Roboto', cursive; */
    font-style: italic;
}

    .menu_sort_search span {
        margin-right: 20px;
    }

.effect-shadow:hover {
    transition-duration: 0.5s;
    color: rgb(0, 255, 255);
    text-shadow: 1px 0px 10px var(--main-shadow);
}

.category_container {
    padding-top: 20px;
}

.line {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #5e5e5e;
    width: inherit;
    height: 0px;
}

.other_button {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: black;
    box-shadow: 0px -1px white;
    border: none;
    border-radius: 10px;
}

.search_film_image {
    background-color: white;
    border-color: white;
    padding: 1px;
    width: 8em;
    height: 12em;
}

.search_film_info {
    padding: 20px;
    width: auto;
}

.search_film_preview {
    /* justify-content: center; */
    width: 8em;
    text-align: center;
    margin-right: 6em;
}

.video_player_container {
    width: 100%;
    height: calc((9/16)*100vw);
    max-height: calc(100vh-300px);
    border: 1px white solid;
    justify-content: center;
}

.video_player {
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 1px red solid; */
}

.text_container {
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px white solid;
    float: left;
    padding: 10px 25px;
}

.image_info {
    background: #ffffff /*url("../images/photo.PNG")*/
    ;
    background-repeat: no-repeat;
    width: 8em;
    height: 8em;
    float: left;
    margin-right: 10px;
}

.film_name,
.comment_request {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.film_info_list {
    line-height: 1.5;
    font-size: 14px;
    text-align: justify;
}

.film_characteristic_name {
    font-weight: 500;
}

.film_characteristic_info {
    font-weight: 200;
}

.comments_container {
    margin-top: 10px;
    border: 1px white solid;
    float: left;
    padding: 10px 25px;
}

.user_image_info {
    background: url("https://avatanplus.com/files/resources/original/5dfb84a5b585716f1e7e2770.png") #fff center;
    width: 42px;
    height: 42px;
    border-radius: 25%;
    background-size: contain;
    background-origin: border-box;
    float: left;
    margin-right: 10px;
}

.textarea_comment textarea {
    border: none;
    float: left;
    margin: 3px;
    width: 90%;
    padding: 5px 0 5px 5px;
    height: 5em;
    resize: none;
    border-radius: 10px;
}

.button-publish-comment {
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    box-shadow: 0px -1px white;
    border: none;
    border-radius: 10px;
}

.line_before_comments {
    margin-right: 10px;
    margin-top: 65px;
    margin-bottom: 20px;
    border-bottom: 2px solid #5e5e5e;
    width: inherit;
    height: 0px;
}

.comment-field {
    border-bottom: 1px #fff solid;
    padding-bottom: 10px;
}

.comments_under_video li:nth-child(n) {
    width: 100%;
    min-height: 100px;
    padding-top: 20px;
    border-bottom: 1px #fff solid;
}

.rating_selector {
    background: none;
    color: white;
    /* decoration */
    border: none;
    border-radius: 5px;
    animation: none;
    border-bottom: 1px var(--main-shadow) solid;
}

.selector_style {
    background: black;
    color: white;
}

.image_like {
    color: #ccc;
    padding-right: 10px;
    margin-right: 10px;
}


.on {
    color: red;
}

.flex-left {
    display: flex;
    align-items: flex-start;
    margin: 10px 0px;
}

.footer {
    display: block;
    max-height: var(--height-top);
    height: auto;
    width: 100%;
    border-top: 1px var(--main-shadow) solid;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
