@model List<FilmInfoPromo>
@{
    ViewData["Title"] = "Sorted by ";
}

<div class="content_search_menu bottom-border flex-center">
    <div class="menu_sort_search">
        <a class="sort-main effect-shadow" asp-controller="Search" asp-action="GetFilmsByGenre">Main</a>
        <a class="sort-main effect-shadow" asp-controller="Search" asp-action="GetSortedFilmsByRelease">Release</a>
        <a class="sort-main effect-shadow" asp-controller="Search" asp-action="GetSortedFilmsByPopularity">Popularity</a>
        <a class="sort-main effect-shadow" asp-controller="Search" asp-action="GetSortedFilmsByRating">Rating</a>
    </div>
    <div class="shell-search">
        <form class="search">
            <input type="search" class="field-search">
            <button type="submit" class="button-search"></button>
        </form>
    </div>
</div>

<div class="finding_content">
    <div class="category_container">
        <div class="search_film_info">
            @await Html.PartialAsync("GetFoundFilms", Model)
        </div>
    </div>
</div>
